<div class="simple-div simple-div_type_fullpage">
  <div class="simple-div-header sign-up-steps-bar">
    {{#if pass}}
      <p class="sign-up-step"><span class="round-number">1</span> Поиск аккаунта</p>
      <p class="sign-up-step sign-up-step_type_selected"><span class="round-number round-number_type_selected">2</span> Переход по ссылке в письме</p>
      <p class="sign-up-step"><span class="round-number">3</span> Смена пароля</p>
    {{else}}
      <p class="sign-up-step"><span class="round-number">1</span> Создание аккаунта</p>
      <p class="sign-up-step"><span class="round-number">2</span> Подтверждение электронной почты</p>
      <p class="sign-up-step sign-up-step_type_selected"><span class="round-number round-number_type_selected">3</span> Завершение регистрации</p>
    {{/if}}

  </div>

  <form action="" method="POST" class="sign-form">
    <div class="div-column">
      <label>{{ text }}
      <input type="text" name="email" class="sign-form__input sign-form__input_type_bordered" required></label>
      {{#if pass}}
        <label>Пароль
        <input type="password" name="pass" class="sign-form__input sign-form__input_type_bordered" required></label>
        <label>Повторите пароль
        <input type="password" name="rpass" class="sign-form__input sign-form__input_type_bordered" required></label>
      {{/if}}
    </div>
    <span class="sign-form__label-message sign-form__label-message_type_visible">{{ errorMsg }}</span>
    <button type="submit" class="sign-form__button">Подтвердить</button>
  </form>
</div>

<script>
document.getElementsByName('email')[0].addEventListener('blur', function() {
  validateField('email', this);
});
</script>

{{#if pass}}
<script>
var pass = document.getElementsByName('pass')[0];
var rpass = document.getElementsByName('rpass')[0];
pass.addEventListener('blur', function() {
  validateField('pass', this);
});
rpass.addEventListener('blur', function() {
  validateField('pass', this);
});
rpass.addEventListener('blur', function () {
  if(pass.classList.contains('sign-form__input_type_right')) {
    if(pass.value == rpass.value) {
      return;
    } else {
      pass.classList.add('sign-form__input_type_wrong');
      rpass.classList.add('sign-form__input_type_wrong');
    }
  } else {
    rpass.classList.add('sign-form__input_type_wrong');
  }
});
</script>
{{/if}}
